<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div id="kt_content_container" class="container-xxl">
        <div class="row g-5 g-xl-8">
            <div class="col-xl-12">
                <a href="#" class="card bg-primary hoverable card-xl-stretch mb-xl-12">
                    <div class="card-body">
                        <div class="text-white fw-bolder fs-2 mb-2 mt-5">NFT Comming Soon</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>