<div class="modal fade" id="two-factor-authentication">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <form class="form">
                    <div class="mb-6 text-center">
                        <h2 class="mb-3">Two-factor authentication (2FA)</h2>
                    </div>
                    @if (Model.Enabled2FA)
                    {
                        <div class="mb-6 text-center">
                            <div class="text-muted fw-bold fs-5">
                                <a href="#" class="link-warning fw-bolder">Please enter your password to disable 2FA</a>
                            </div>
                        </div>

                        <div class="d-flex align-items-center position-relative my-1">
                            <a href="#" id="btnDisable" class="btn btn-outline btn-outline-dashed btn-outline-default btn-active-light-dark me-2 mb-2">
                                Confirm to disable 2FA
                            </a>
                            <input id="confirmedPassword" type="password" class="form-control form-control-solid form-control-sm ps-9 txt-search-keyword-1" placeholder="Enter your password" />
                        </div>

                    }
                    else
                    {
                        <div class="text-muted fw-bold fs-5">
                            <a href="#" class="link-warning fw-bolder">Please use your authentication app (such as Duo or Google Authenticator) to scan this QR code.</a>
                        </div>

                        <div class="d-flex flex-column mb-8 fv-row">
                            <div class="card card-dashed h-xl-80 flex-row flex-stack flex-wrap p-6 bg-white">
                                <div style="text-align:center;width:100%" class="qr-code" id="qrcodeAuthenticatorCode"></div>
                            </div>
                        </div>

                        <div class=" mb-6 fv-row text-center">
                            <input type="text" class="form-control form-control-solid fs-8 fs-lg-6 fw-bold" readonly id="txtAuthenticatorCode" value="@Model.AuthenticatorCode" />
                        </div>

                        <div class="d-flex align-items-center position-relative my-1">
                            <a href="#" id="btnVerifyCode" class="btn btn-outline btn-outline-dashed btn-outline-default btn-active-light-dark me-2 mb-2">
                                Verify Code
                            </a>
                            <input id="verifyCode" type="text" class="form-control form-control-solid form-control-sm w-150px ps-9 txt-search-keyword-1" placeholder="Enter verify code" />
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>