<!--<footer class="nk-footer bg-theme-alt">
    <div class="section section-m section-footer bg-transparent tc-light">
        <div class="container">-->
            <!-- Block  -->
            <!--<div class="nk-block block-footer mgb-m50 mgt-m10">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-sm-10">
                        <div class="wgs animated" data-animate="fadeInUp" data-delay=".2">
                            <a href="#"><img src="~/client-side/metadefi/main-html/images/logo-full-white.png" srcset="images/logo-full-white2x.png 2x" alt="logo"></a>
                        </div>
                    </div>--><!-- .col -->
                    <!--<div class="col-lg-2 col-mb-3 col-sm-3 col-6">
                        <div class="wgs wgs-menu">
                            <div class="wgs-body">
                                <ul class="wgs-links wgs-links-uline wgs-links-s4 animated" data-animate="fadeInUp" data-delay=".3">
                                    <li><a href="#">Tokens Sales</a></li>
                                    <li><a href="#">Roadmap</a></li>
                                    <li><a href="#">What is ICOX</a></li>
                                    <li><a href="#">why / How ?</a></li>
                                    <li><a href="#">Media</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>--><!-- .col -->
                    <!--<div class="col-lg-2 col-mb-3 col-sm-3 col-6">
                        <div class="wgs wgs-menu">
                            <div class="wgs-body">
                                <ul class="wgs-links wgs-links-uline wgs-links-s4 animated" data-animate="fadeInUp" data-delay=".4">
                                    <li><a href="#">Teams</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Faqs</a></li>
                                    <li><a href="#">Join Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>--><!-- .col -->
                    <!--<div class="col-lg-3 col-mb-6 col-sm-4">
                        <div class="wgs wgs-menu">
                            <div class="wgs-body">
                                <ul class="wgs-address animated" data-animate="fadeInUp" data-delay=".5">
                                    <li>1330 Cooks Mine Road <br>Twin Lakes, Mexico - 86515</li>
                                    <li>+505-735-0177</li>
                                    <li><a href="#">hello@icocrypto.nio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>--><!-- .col -->
                <!--</div>--><!-- .row -->
            <!--</div>--><!-- .block  -->
        <!--</div>
    </div>
    <hr class="hr-white-10 my-0">
    <div class="section py-5 tc-light">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-7">
                    <div class="copyright-text copyright-text-s3 op-70">
                        <p><span>Copyright &copy; 2019, ICO Crypto. Template Made By Softnio &amp; Handcrafted by iO.</span></p>
                    </div>
                </div>--><!-- .col -->
                <!--<div class="col-md-5 text-md-right">
                    <ul class="footer-links">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>--><!-- .col -->
            <!--</div>--><!-- .row -->
        <!--</div>
    </div>
</footer>-->