<header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
    <!-- Header  -->
    <div class="header-main">
        <div class="header-container container">
            <div class="header-wrap">
                <!-- Logo  -->
                <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".65">
                    <a href="./" class="logo-link">
                        <img class="logo-dark" src="~/images/metadefiwhite.png" alt="logo">
                        <img class="logo-light" src="~/images/metadefiwhite.png" alt="logo">
                    </a>
                </div>
                <!-- Menu Toogle  -->
                <div class="header-nav-toggle">
                    <a href="#" class="navbar-toggle" data-menu-toggle="example-menu-04">
                        <div class="toggle-line">
                            <span></span>
                        </div>
                    </a>
                </div>
                <!-- Menu  -->
                <div class="header-navbar header-navbar-s3">
                    <nav class="header-menu justify-content-between" id="example-menu-04">
                        <ul class="menu menu-s2 animated" data-animate="fadeInDown" data-delay=".75">
                            <li class="menu-item"><a class="menu-link nav-link" href="/">Home</a></li>
                            <li class="menu-item"><a class="menu-link nav-link" href="/news.html">News</a></li>
                        </ul>
                        <ul class="menu-btns align-items-center animated" data-animate="fadeInDown" data-delay=".85">
                            <li><a href="/claim" class="btn btn-rg btn-round btn-info"><span>Claim Token</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="header-banner bg-theme-grad">
        <div class="nk-banner">
            <div class="banner banner-page">
                <div class="banner-wrap">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-6 col-lg-9">
                                <div class="banner-caption cpn tc-light text-center">
                                    <div class="cpn-head">
                                        <h2 class="title ttu">@ViewBag.Title</h2>
                                        @*<p>We designed a brand-new cool design and lots of features, the latest version of the template supports advanced block base scenarios, and more.</p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .nk-banner -->
        <div class="nk-ovm shape-a-sm"></div>
    </div>
</header>