@model HomeViewModel
@{
    ViewBag.Title = "Dashboard";
}
@section Styles{
    <style>
        div#box-content p img {
            width: 100% !important;
            height: auto !important;
        }
    </style>
    <link href="~/ecosystem/css/styles.css" rel="stylesheet" />
}

@section Scripts{

    <script src="~/ecosystem/js/jquery.1.9.1.js"></script>
    <script src="~/ecosystem/js/prefixfree.min.js"></script>
    <script src="~/ecosystem/js/scripts.min.js"></script>

    <script src="~/admin-app/controllers/home/index.js"></script>
    <script>
        var homeObj = new HomeController();
        homeObj.initialize();
    </script>
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div class="container-xxl" id="kt_content_container">
            <div class="row gy-5 g-xl-8">
                <div class="col-xl-12">
                    <div class="tradingview-widget-container">
                        <div class="tradingview-widget-container__widget" id="ticker-tape">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-5 g-xl-8">
                <div class="col-xl-12">
                    <div class="card mb-10 mt-5 ">
                        <div class="card-body">
                            @if (Model.Notify != null)
                            {
                                <div class="text-center mt-3 mb-10">
                                    <h3 class="fs-1 text-primary">@Model.Notify.Name</h3>
                                </div>

                                <div class="mt-7" id="box-content">
                                    @Html.Raw(Model.Notify.MildContent)
                                </div>
                            }
                            else
                            {
                                <div class="text-black fw-bolder fs-2 mb-2 mt-5">Dashboard Comming Soon</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gy-5 g-xl-8">
                <div class="col-xl-12">
                    <div class="card mb-5 mb-xl-20">
                        <h1 class="d-flex flex-column text-dark fw-bolder mt-20 fs-2">MetaDeFi Ecosystem</h1>
                        <div id="divBody" class="opening hide-UI view-2D zoom-large data-close controls-close">
                            <div id="data">
                                <a class="mercury" title="AI" href="#ai">AI</a>
                                <a class="venus" title="NFT" href="#nft">NFT</a>
                                <a class="earth active" title="Game" href="#game">Game</a>
                                <a class="mars" title="Swap" href="#swap">Swap</a>
                                <a class="jupiter" title="Staking" href="#staking">Staking</a>
                                <a class="saturn" title="Farming" href="#farming">Farming</a>
                                <a class="uranus" title="DeFi" href="#defi">DeFi</a>
                                <a class="neptune" title="Exchange" href="#exchange">Exchange</a>
                            </div>
                            <div id="universe" class="scale-stretched">
                                <div id="galaxy">
                                    <div id="solar-system" class="earth">
                                        <div id="mercury" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>AI</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="venus" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>NFT</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="earth" class="orbit">
                                            <div class="pos">
                                                <div class="orbit">
                                                    <div class="pos">
                                                        <div class="moon"></div>
                                                    </div>
                                                </div>
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>Game</dt>
                                                        <dd>
                                                            <span>Ecosystem</span>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="mars" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>Swap</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="jupiter" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>Staking</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="saturn" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <div class="ring"></div>
                                                    <dl class="infos">
                                                        <dt>Farming</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="uranus" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>DeFi</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="neptune" class="orbit">
                                            <div class="pos">
                                                <div class="planet">
                                                    <dl class="infos">
                                                        <dt>Exchange</dt>
                                                        <dd><span>Ecosystem</span></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="sun">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>