<div id="connect-wallet-modal" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="connectWalletModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-15">
                <h1 class="modal-title text-center fw-bolder mb-4" id="connectWalletModalLabel">
                    Connect your wallet
                </h1>
                <h5 class="text-center fw-mormal text-muted mb-4">
                    By connecting your wallet, you agree to our Terms of Service and our Privacy Policy.
                </h5>
                <div class="d-flex justify-content-start flex-column">
                    <button class="btn btn-sm btn-light-warning btn-active-light fs-5 mb-3" width="100%" id="wallet-connect-metamask">
                        <div class="fw-bolder">
                            Meta Mask
                            <svg width="32" height="30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M29.507 1L17.801 9.694l2.165-5.13L29.507 1z" fill="#E2761B" stroke="#E2761B" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M2.483 1l11.612 8.777-2.059-5.212L2.483 1zM25.294 21.153l-3.117 4.776 6.67 1.836 1.918-6.506-5.47-.106zM1.247 21.259l1.906 6.506 6.67-1.836-3.117-4.776-5.459.106z" fill="#E4761B" stroke="#E4761B" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M9.448 13.082L7.59 15.893l6.624.295-.235-7.118-4.53 4.012zM22.543 13.083l-4.588-4.094-.153 7.2 6.611-.294-1.87-2.812zM9.823 25.93l3.977-1.942-3.436-2.682-.54 4.623zM18.189 23.988l3.988 1.941-.553-4.623-3.435 2.682z" fill="#E4761B" stroke="#E4761B" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M22.175 25.928l-3.989-1.94.318 2.6-.035 1.093 3.706-1.753zM9.821 25.928l3.706 1.753-.023-1.094.294-2.6L9.82 25.93z" fill="#D7C1B3" stroke="#D7C1B3" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M13.588 19.59l-3.317-.977 2.341-1.071.976 2.047zM18.4 19.59l.977-2.048 2.353 1.07-3.33.977z" fill="#233447" stroke="#233447" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M9.823 25.929l.564-4.777-3.682.106 3.118 4.67zM21.611 21.152l.565 4.777 3.118-4.67-3.683-.107zM24.412 15.894l-6.612.294.612 3.4.976-2.047 2.353 1.07 2.67-2.717zM10.27 18.611l2.353-1.07.965 2.047.623-3.4-6.623-.294 2.682 2.717z" fill="#CD6116" stroke="#CD6116" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M7.587 15.894l2.777 5.411-.094-2.694-2.683-2.717zM21.74 18.611l-.117 2.694 2.788-5.411-2.67 2.717zM14.211 16.188l-.623 3.4.776 4.012.177-5.283-.33-2.129zM17.798 16.188l-.317 2.118.14 5.294.789-4.012-.612-3.4z" fill="#E4751F" stroke="#E4751F" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M18.413 19.589l-.788 4.012.564.388 3.436-2.683.117-2.694-3.33.977zM10.27 18.612l.095 2.695 3.435 2.682.565-.388-.777-4.012-3.317-.977z" fill="#F6851B" stroke="#F6851B" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M18.47 27.683l.035-1.095-.294-.258h-4.435l-.271.259.023 1.094-3.705-1.753 1.294 1.058 2.623 1.824h4.506l2.636-1.824 1.294-1.058-3.706 1.753z" fill="#C0AD9E" stroke="#C0AD9E" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M18.19 23.989l-.565-.388h-3.259l-.565.388-.294 2.6.27-.259h4.436l.294.259-.317-2.6z" fill="#161616" stroke="#161616" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M30 10.259l1-4.8L29.506 1 18.188 9.4l4.353 3.682 6.153 1.8 1.365-1.588-.588-.423.94-.86-.729-.564.942-.717-.624-.471zM1 5.459l1 4.8-.635.47.94.718-.717.565.941.859-.588.423 1.353 1.589 6.153-1.8L13.8 9.4 2.482 1 1 5.459z" fill="#763D16" stroke="#763D16" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M28.695 14.883l-6.154-1.8 1.871 2.812-2.788 5.412 3.67-.047h5.471l-2.07-6.377zM9.447 13.083l-6.153 1.8-2.047 6.377h5.459l3.659.047-2.777-5.412 1.859-2.812zM17.8 16.189l.39-6.789 1.787-4.835h-7.94L13.8 9.4l.412 6.789.14 2.14.013 5.271h3.259l.023-5.27.153-2.141z" fill="#F6851B" stroke="#F6851B" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="btn btn-sm btn-light-info btn-active-light fs-5" id="wallet-connect-trust" width="100%" scale="md">
                        <div class="fw-bolder">
                            Trust Wallet
                            <svg viewBox="0 0 40 40" width="40px" color="text" xmlns="http://www.w3.org/2000/svg" class="sc-bdnxRM la-Dshj"><path opacity="0.9" d="M19.9959 4.8377L20.7771 3.82105C20.5523 3.64825 20.2766 3.55457 19.9931 3.55457C19.7095 3.55457 19.4339 3.64825 19.209 3.82105L19.9959 4.8377ZM33.425 8.7837H34.7059C34.7081 8.61378 34.6767 8.44509 34.6134 8.28737C34.5502 8.12965 34.4563 7.98603 34.3372 7.8648C34.2181 7.74358 34.0762 7.64714 33.9196 7.58107C33.763 7.515 33.5949 7.4806 33.425 7.47985V8.7837ZM19.9959 36.2161L19.2837 37.2845C19.4936 37.425 19.7405 37.5 19.9931 37.5C20.2457 37.5 20.4925 37.425 20.7024 37.2845L19.9959 36.2161ZM6.57841 8.7837V7.49709C6.40847 7.49783 6.24036 7.53223 6.0838 7.5983C5.92723 7.66437 5.7853 7.76081 5.66621 7.88204C5.54712 8.00326 5.45322 8.14688 5.38995 8.3046C5.32667 8.46232 5.29526 8.63101 5.29754 8.80093L6.57841 8.7837ZM19.2148 5.84861C25.0275 10.3518 31.6846 10.0646 33.4307 10.0646V7.49709C31.6214 7.49709 25.8259 7.72684 20.7943 3.82105L19.2148 5.84861ZM32.1499 8.76073C32.0522 14.7113 31.7995 18.91 31.317 22.0174C30.8345 25.1248 30.1682 26.9399 29.2894 28.238C28.4106 29.5361 27.2848 30.3804 25.6364 31.3626C23.9879 32.3448 21.8799 33.4361 19.2837 35.1535L20.7312 37.2845C23.1895 35.6475 25.2343 34.6021 26.9747 33.5625C28.7284 32.6075 30.2502 31.2779 31.4319 29.6682C32.5806 27.9451 33.3675 25.6475 33.873 22.408C34.3785 19.1685 34.6369 14.809 34.7346 8.80093L32.1499 8.76073ZM20.7312 35.1535C18.1522 33.4304 16.05 32.362 14.413 31.3684C12.776 30.3747 11.6502 29.582 10.7656 28.238C9.8811 26.8939 9.16312 25.1076 8.66915 22.0174C8.17519 18.9273 7.95692 14.7113 7.85928 8.76073L5.29754 8.80093C5.39518 14.809 5.6594 19.18 6.15911 22.408C6.65882 25.636 7.42275 27.9336 8.59448 29.6682C9.77051 31.2788 11.2888 32.6088 13.0402 33.5625C14.7633 34.6021 16.8254 35.6475 19.2837 37.2845L20.7312 35.1535ZM6.57841 10.0646C8.30155 10.0646 14.9644 10.3518 20.7771 5.84861L19.209 3.82105C14.166 7.72684 8.37048 7.49709 6.57266 7.49709L6.57841 10.0646Z" fill="#3688EB"></path></svg>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>