<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../../../">
    <title>Meta DeFi</title>
    <meta name="description" content="Meta DeFi" />
    <meta name="keywords" content="Meta DeFi" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Meta DeFi" />
    <meta property="og:url" content="Meta DeFi" />
    <meta property="og:site_name" content="Meta DeFi" />
    <link rel="canonical" href="Meta DeFi" />
    <link rel="icon" href="~/images/metadefiicon.png">
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/admin-side/demo1/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/admin-side/demo1/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    @RenderSection("Styles", required: false)
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="bg-dark">
        <!--begin::Main-->
        @RenderBody()
        <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/admin-side/demo1/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/admin-side/demo1/dist/assets/js/scripts.bundle.js"></script>
    <!--end::Javascript-->

    <script src="~/admin-app/shared/be.js"></script>

    @RenderSection("Scripts", required: false)
</body>
<!--end::Body-->

</html>