@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="modal fade" id="modal-user-setting">
    <div class="modal-dialog modal-dialog-centered mw-500px">
        <div class="modal-content rounded">
            <div class="modal-header pb-0 border-0 justify-content-end">
                <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1" />
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-10">
                <div class="mb-6 text-center">
                    <h2 class="mb-3">User setting</h2>
                </div>
                <input type="hidden" id="hidId" value="" />
                <div class="row mb-7 mt-7">
                    <label class="col-lg-4 fw-bold text-muted">Email</label>
                    <div class="col-lg-8">
                        <span class="fw-bolder fs-6 text-gray-800 setting-email"></span>
                    </div>
                </div>

                <div class="row mb-7 mt-7">
                    <label class="col-lg-4 fw-bold text-muted">Two-Factor Authentication</label>
                    <div class="col-lg-8 form-check form-switch form-switch-sm form-check-custom form-check-solid">
                        <input class="form-check-input bg-active-primary setting-2fa-check" type="checkbox" value="" disabled name="notifications">
                        <label class="form-check-label setting-2fa-status"> Disable </label>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-light me-3" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
